boto3==1.4.0
botocore==1.4.49
docutils==0.12
github3.py==0.9.5
jmespath==0.9.0
pycparser==2.14
python-dateutil==2.5.3
requests==2.20.0
s3transfer==0.1.2
six==1.10.0
smmap==0.9.0
uritemplate.py==2.0.0
